# ETL process
develop the etl process before create the pipline to ensure that all process working with no error

In [25]:
from Sql_Queries import * 
import psycopg2
import pandas as pd
import os

In [22]:
try:
    conn = psycopg2.connect('host= 127.0.0.1 dbname=sparkify user=postgres password=123')
    cur= conn.cursor()
except psycopg2.Error as e:
    print(e)
    print('can not connect to the sparkify database')

In [26]:
def get_json_file_paths(folder_path):
    """
    Recursively retrieves the absolute paths of all JSON files in the specified folder and its subfolders.
    Args:
        folder_path (str): Path to the root folder containing JSON files.
    Returns:
        list: A list of absolute file paths.
    """
    json_file_paths = []
    for root, _, files in os.walk(folder_path):
        for filename in files:
            if filename.endswith(".json"):
                json_file_paths.append(os.path.join(root, filename))
    return json_file_paths

## Song Dataset
The first dataset is a subset of real data from the Million Song Dataset. Each file is in JSON format and contains metadata about a song and the artist of that song. The files are partitioned by the first three letters of each song's track ID
### process song dataset
use Song data set to perform ETL process and load the data into the **artists** and **songs** dimintion tables

In [28]:
songs_paths = get_json_file_paths("./data/song_data")

In [30]:
song_df = pd.read_json(songs_paths[0], lines=True)
song_df

,num_songs,artist_id,artist_latitude,artist_longitude,artist_location,artist_name,song_id,title,duration,year
0,1,ARD7TVE1187B99BFB1,NaN,NaN,California - LA,Casual,SOMZWCG12A8C13C480,I Didn't Mean To,218.93179,0

### #1: Songs Table
|FROM|--->|TO|
|---|---|---|
|song_id|--->|song_id|
title|--->|title
artist_id|--->|artist_id 
year|--->|year
duration|--->|duration

In [31]:
songs = song_df[['song_id', 'title', 'artist_id', 'year', 'duration']].values[0]
songs

array(['SOMZWCG12A8C13C480', "I Didn't Mean To", 'ARD7TVE1187B99BFB1', 0,
       218.93179], dtype=object)

#### insert into songs table 
using `songs_table_insert` in `SqL_Queires.py` file transfer the data in the songs table

In [32]:
cur.execute(songs_table_insert, songs)
conn.commit()

### #2: artists Table 
|FROM|--->|TO|
|---|---|---|
|artist_id|--->|artist_id|
artist_name|--->|name
artist_location|--->|location 
artist_latitude|--->|latitude
artist_longitude|--->|longitude

In [39]:
artists= song_df[['artist_id', 'artist_name', 'artist_location', 'artist_latitude', 'artist_longitude']].values[0]
artists

array(['ARD7TVE1187B99BFB1', 'Casual', 'California - LA', nan, nan],
      dtype=object)

In [40]:
cur.execute(artists_table_insert, artists)
conn.commit()

In [41]:
cur.execute('Select * from artists')
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

('ARD7TVE1187B99BFB1', 'Casual', 'California - LA', Decimal('NaN'), Decimal('NaN'))